<template>
  <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Adicionar Contato</h3>
            </div>
            <div class="card-body">
                <form v-on:submit.prevent="addItem">
                    <div class="form-group">
                        <label>Nome:</label>
                        <input type="text" class="form-control" v-model="item.name" required/>
                    </div>
                    <div class="form-group">
                        <label>Sexo:</label>
                        <select class="form-control" v-model="item.gender">
                        <option disabled value="">Escolha um item</option>
                            <option>Masculino</option>
                            <option>Feminino</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Telefone:</label>

                        <the-mask :mask="['(##) ####-####', '(##) #####-####']" class="form-control" v-model="item.phone" required/>
                    </div>
                     <div class="form-group">
                        <label>Email:</label>
                        <input type="email" class="form-control" v-model="item.email" required/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary"  value="Adicionar"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
      return {
          item: {}
      }
  },
  methods: {
      addItem() {
           let uri = 'http://localhost:8080/contacts';
            this.axios.post(uri, this.item).then((response) => {
                console.log(response.data)
            });
        }
    }
}
</script>