<template>
    <div>
        <h1>Contatos</h1>

        <table class="table table-hover">
            <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Sexo</td>
                <td>Telefone</td>
                <td>Email</td>
                <td colspan="2">Ações</td>
            </tr>
            </thead>

            <tbody>
                <tr v-for="(item, index) in items" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.gender }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.email }}</td>
                    <td><router-link :to="{name: 'Edit', params: { id: item.id }}" class="btn btn-primary">Editar</router-link></td>
                    <td><button class="btn btn-danger"  v-on:click="deleteItem(item.id, index + 1 )">Apagar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

    export default {
        data(){
            return{
                items: []
            }
        },

        created: function()
        {
            this.fetchItems();
        },

        methods: {
            fetchItems()
            {
              let uri = 'http://localhost:8080/contacts';
              this.axios.get(uri).then((response) => {
                  this.items = response.data;
              });
            },
            deleteItem(id, index)
            {
              let uri = 'http://localhost:8080/contacts/'+id;
              this.items.splice(index - 1, 1);
              this.axios.delete(uri);
              
            }
        }
    }
</script>